@import url("https://fonts.googleapis.com/css?family=Open+Sans");

@font-face {
  font-family: "Riffic Free";
  src: url("RifficFree-Bold.tff");
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  background: #000;
  animation: fadein 3s;
  overflow-x: hidden;
  user-select: none;
  color: #fff;
}

* {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Riffic Free", cursive;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
}

p {
  font-size: 16px;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  p {
    font-size: 12px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (hover: hover) {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #f58719;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #f58719;
  }
}
