@import url("https://fonts.googleapis.com/css?family=Open+Sans");

@font-face {
  font-family: "Riffic Free";
  src: url("./fonts/RifficFree-Bold.ttf");
}

* {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Riffic Free", cursive;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
}

p {
  font-size: 16px;
  line-height: 1.2;
}
